*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button{
    all: unset;
    cursor: pointer;
}

/* start header */

    header{
        background-image: url(../img/jumbo.png);
        background-size: cover  ;
    }

    .container-header{
        padding: 10px 0;
    }

    .logo{
        fill: #FFFFFF;
    }

    .row-header{
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .col-header-link{
        vertical-align: bottom;
    }
    
    ul{
        display: flex;
        list-style-type: none;
        line-height: 1.7;
        vertical-align: middle;
    }
    
    .link nav ul li{
        padding-right: 40px;
    }

    a{
        text-decoration: none;
        font-size: 15px;
        color: #FFFFFF;
    }

    .button{
        padding: 10px 15px;
        font-size: 12px;
        background-color: #FFFFFF;
        border-radius: 20px;
    }

    .container-header-background{
        padding: 90px 0;
    }
    
    .row-header-background{
        width: 60%;     
        margin: 0 auto;
    }

    .text-in-background{
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 14px;
    }

    h1{
        font-size: 45px; 
        margin-bottom: 30px;
    }

    .text-header{
        margin: 0 auto;
        width: 70%;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .special-button{
        font-size: 16px;
    }

    .button-white{
        background-color:#FFFFFF ;
        color: #000000;
        padding: 12px 20px;
        border-radius: 30px;
        margin-right: 15px;
    }

    .button-black{
        background-color: #23272A;
        padding: 13px 20px;
        border-radius: 30px;
    }

/* end header */

/* star main */

    .container-main{
        background-color: #FFFFFF;
    }

    .row-main{
        max-width: 70%; 
        margin: 0 auto;
        padding: 35px 0;
    }

    .col-main{
        width: 100%;
        display: flex;
    }

    .col-image{
        width: 60%;
    }

    .col-text{
        width: 40%;;
        padding: 50px 60px;
    }

    h2{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .text p, .text-big p{
        line-height: 25px; 
    }

    .background-color-lightgrey{
        background-color: #F6F6F6;
    }

    .row-reverse{
        flex-direction: row-reverse;
    }

    .row-main-big{
        width: 70%;
        margin: 0 auto;
        padding: 30px 0;
    }

    .col-main-big{
        width: 100%;
    }

    .col-text-big{
        width: 80%;
        margin: 0 auto;
    }
    
    .text-big{
        text-align: center;
    }

/* end main */

/* start footer */

    footer{
        background-color: #23272A;
    }

    .container-footer{
        height: 470px;
    }

    .row-footer{
        max-width: 70%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 25px;
        border-bottom: 1px solid #648AE8;
    }
    
    .col-footer{
        width: 100%;
        margin-top: 60px;
    }

    .col-info{
        width: 100%;
        display: flex;
    }

    .info{
        width: 30%;
    }

    h3{
        font-size: 27px;
    }

    h3, ul{
        color: #648AE8;
    }

    li{
        color: #FFFFFF;
        line-height: 30px;
        font-size: 13px;
    }

    .unlist{
        width: 70%;
    }

    nav{   
        width: 100%;
        display: flex;
    }

    .macro-info{
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    .macro-info ul{
        display: flex;
        flex-direction: column;
    }

    .container-sfooter{
        height: 50px;
        padding-top: 14px;
    }

    .row-sfooter{
        max-width: 70%;
        margin: 0 auto;
        height: 35px;
    }

    .col-sfooter{
        width: 100%;
        background-color: #7FFFD4;
    }

    .col-copyright{
        width: 100%;   
        display: flex;
        justify-content: space-between;
    }

    .logopt2, .buttonpt2{ 
        margin: 7px 0;
        padding: 2px 5px;
    }

/* end footer */